.week-item{
    .day-col{
        padding: 0 10px 0 10px;
        border-right: 1px solid $lightGrey;
        font-size: 12px;

        h4{
            text-align: center;
        }

        ul{
            list-style-type: none;
            padding: 0;
    
            .day-row{
                display: flex;
                padding: 2px 0;
               
                .day-data{
                    display: inline-block;
                    width: 96px;

                    span{
                        padding-left: 5px;
                    }

                    .day-data-time{
                        display: none;
                    }
    
                    .day-data-temp,
                    .day-data-wind{
                        padding: 4px;
                    }
                }
            }
        }
    }

    &:first-child{
        .day-col{
            border-left: 1px solid $lightGrey;

            .day-data{
                .day-data-time{
                    position: absolute;
                    display: inline-block !important;
                    color: darken($lightGrey, 15%);
                    padding-top: 16px;
                    margin-left: -50px;
                }
            }
        }
    }
}

